<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Paste</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <textarea id="title" maxlength="100" style="resize:none;" required>
        
        </textarea>
        <textarea id="content" maxlength="500" style="resize:none;" required>

        </textarea>
        <button onclick="FetchData()">Create</button>
        <script>
            async function FetchData(){
                fetch("/create", {
                    method: "POST",
                    headers: {
                        'User-Agent': "application/json",
                    },
                    body: {
                        'title': document.getElementById("title").value,
                        'content': document.getElementById("content").value,
                    }
                }).then(res => window.location = "/").catch(err => alert(err))
            }
        </script>
    </div>
</body>
</html>