<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>
        {{if .data.Name}}
            {{Escape .data.Name}}
        {{else}}
            Pastebin.txt
        {{end}}
    </title>
</head>
<body>
        {{if .logo}}
            <h6 id="logo">{{.logo}}</h6>
        {{end}}
        <div style="font-size: 14px;">
        {{if .textlogo}}
            <h3 style="white-space: pre;">{{.textlogo}}</h3>
        {{end}}

        {{if .data.Name}}
            <h1>
                {{Escape .data.Name}}
            </h1>
        {{end}}


        {{if eq .data.Description.Hide false}}
            {{if .data.Description.Text}}
                    <div>
                        {{range .data.Description.Text}}
                            <h4>{{Escape .}}</h4>
                        {{end}}
                    </div>
            {{end}}
        {{end}}


        {{if .data.CreatorsGithub}}
                <h3>  
                    <a href='https://github.com/{{.data.CreatorsGithub}}'>Created By {{Escape .data.CreatorsGithub}} :3</a>
                </h3>
        {{end}}
        
    
    </div>
    <div style="background-color: rgb(40, 40, 50);">
        {{if not .data.PasteDiv.Hide }}    
                <h2>🠋  [Create Paste Here]  🠋</h2>    
                {{template "attr"}}
        {{end}}
        {{if .topics }}
            <div>
                {{if not .data.PasteDiv.Hide }}
                    <h1>[TOPICS]</h1>
                {{end}}    
                {{range .topics}}
                    <div style="padding: 10px;" class="topic">
                        <a href="/topic/{{.ID}}">/{{.Name}}</a> - <small>{{.PostCount}} pastes</small>
                        <div>
                            <small style="color:rgb(188, 188, 188)">{{.Description}}</small>
                        </div>
                    </div>
                {{else}}
                    No topics exist yet :(
                {{end}}
            </div>
        {{end}}
    </div>
</body>
</html>
