<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Topic.</title>
</head>
<body style="background-color: rgb(40, 40, 50);">    
    <div id="create">
        Title:
        <textarea id="title" class="inputs" maxlength="128" style="resize:none;" rows="4" cols="30" required></textarea>
        <div>
        Content:
        <textarea id="content" class="inputs" maxlength="65536" style="resize:none;" rows="40" cols="90" required></textarea>
        </div>
        Username of Creator:
        <textarea id="author" class="inputs" maxlength="128" style="resize:none;" rows="2" cols="70" required></textarea>
        
        <div>
            <button onclick="FetchData('{{.id}}', true)">Create Paste</button>
        </div>
    </div>
    <div>
    <h2>
        [[/{{.topic.Name}}]]
    </h2>

    <div class="pas" style="background-color: rgb(55, 55, 70);">
        {{if .temp }}
            [PASTES] - [ALL PASTES ARE DELETED AFTER {{.temp}}]
        {{else}}
            [PASTES]
        {{end}}
        {{range .pastes}}
            <div id="pastes">
                ID:{{.ID}}
                <a href="/paste/{{.ID}}" class="links">{{CutString .Title 100}}</a>
                <small class="authors">[{{CutString .Author 70}}]</small>
                {{if .IsTitled}}
                    (Pinned)
                {{end}}
            </div>
        {{else}}
            <div> 
                No pastes have been made :(
            </div>
        {{end}}
    </div>
    <script src="/static/attr.js"></script>
</body>
</html>
